---
name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  vader:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install + Setup Vim
        run: |
          sudo apt-get install vim
          mkdir -p ~/.vim/bundle
          git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim
          cp .devcontainer/vimrc ~/.vimrc && vim +PluginInstall +qall
          cp -r * ~/.vim/bundle/copilot-chat.vim/

      - name: vim tests
        run: |
          vim '+Vader! test/*.vader'
